$primary-color: #fff159;
$primary-background-color: #e7e7e7;
$secondary-background-color: #3483fa;
$gray-background-color: rgba(0, 0, 0, 0.1);
$text-primary-color: #333;
$text-secondary-color: #666;

// Basic colors
$gray: gray;
$white: white;
